@import url('./common/initializer.css');

body {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #000;
  color: #fff;
  font: 100 50vh/1 'Spoqa Han Sans Neo', sans-serif;
}

output {
  user-select: none;
  cursor: inherit;
  animation: wiggle steps(3) 600ms infinite alternate;
}

@keyframes wiggle {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 0.4;
  }
  66.6666% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
